.parte3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: url(../../images/parte3/parte3.png);
    background-size: cover;
    background-position: center center;
    background-blend-mode: color;
    background-color: #0000009f;

}

.parte3 p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 200px;
    flex-shrink: 0;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
    text-align: center;
}