.parte5 {
    margin-top: 200px;
    height: 80vh;
    text-align: center;
    color: #FCFCFC;
    background: url(../../images/parte5/Rectangle28.png);
    background-size: cover;
    background-position: center center;
    background-blend-mode: color;
    background-color: #000000d3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parte5 h1 {
    margin-bottom: 50px;
    color: #FCFCFC;
    font-family: "Playfair Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sele {
    color: #FCFCFC;
    margin-bottom: 50px;
    font-family: "Playfair Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.la {
    color: #C1BFBF;
    text-align: center;
    margin-bottom: 50px;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.parte5 p {
    text-align: center;
}

.parte5 button {
    width: Hug (243.76px)px;
    margin-top: 90px;
    cursor: pointer;
    height: Hug (67.78px)px;
    top: 602px;
    left: 68.62px;
    padding: 6px 20px;
    gap: 16.64px;
    border-radius: 39px;
    background: none;
    border: 1px 0px 0px 0px;
    border: 1px solid #FCFCFC;
    color: #FCFCFC;
    opacity: 0px;
    display: flex;
    margin: auto;
    align-items: center;
}

.parte5 button img {
    width: 25px;
    gap: 0px;
    opacity: 0px;

}

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    gap: 40px;
}

form select {
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    padding: 0 30px 5px 30px;
}

label {
    display: flex;
    justify-content: left;
    color: #C1BFBF;
    font-family: "Libre Caslon Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}